<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="SiteUrl" value="http://localhost/sisf-tc/" />
    <add key="HomeUrl" value="http://localhost/sisf-tc/home" />
    <add key="PortalUrl" value="http://localhost/UsuarioExterno/Access/login" />
    <add key="RegisterUrl" value="/inscricao" />
    <add key="LoginUrl" value="/entrar" />
    <add key="FolderPicture" value="\ScreenShots\" />
    <add key="ChromeDrive" value="E:\driver" />

    <add key="TestUserName" value="32453904833" />
    <add key="TestPassword" value="123456" />
  </appSettings>
  <specFlow>
    <language feature="pt-BR" />
    <unitTestProvider name="xUnit" />
  </specFlow>
</configuration>